In [36]:
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [2]:
import pandas

In [5]:
data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data

{'names': ['Tomás', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'woman': [False, True, False, False, False, True],
 'ages': [32, 33, 28, 30, 32, 27],
 'country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [9]:
friends=pandas.DataFrame.from_dict(data)
friends

     names  woman  ages  country education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [14]:
tuplist=list(zip(names,country))
tuplist

[('Tomás', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

In [38]:
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
counterOfInvalids=0
for country in country:
    if country=='Peru':
        counterOfInvalids +=1
counterOfInvalids

2

In [ ]:
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
counterOfInvalids=0
'Peru'=
for country in country:
    if country~'Peru'
        counterOfInvalids +=1
counterOfInvalids