In [1]:
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [2]:
import pandas

In [85]:
data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data #() parentheses are used for order of operations, or order of evaluation, and are referred to as tuples. 
#[] brackets are used for lists. Curly brackets for dict {}

{'names': ['Tom치s', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'woman': [False, True, False, False, False, True],
 'ages': [32, 33, 28, 30, 32, 27],
 'country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [86]:
friends=pandas.DataFrame.from_dict(data)
friends

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [58]:
toSort=["ages"]
Order=[True]
friends[friends.woman==False].sort_values(by=toSort,ascending=Order).iloc[0,3]

'Spain'

In [87]:
filter1 = friends[friends.woman]==False
friends.where(filter1, inplace=True)
friends[friends.ages==min(friends.ages)].country

2    Spain
Name: country, dtype: object

In [95]:
friends.query('woman==False', inplace = True) 
friends[friends.ages==min(friends.ages)].country

2    Spain
Name: country, dtype: object